{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "node": true,
        "es6": true
    },
    "extends": "airbnb",
    "rules": {
        "indent": ["error" , 4 , { "SwitchCase": 1 }  ],
        "no-console": 0,
        "new-cap": 0,
        "max-len": ["error" ,120, { "ignoreComments": true }],
        "no-param-reassign": 0
    }
}